<!DOCTYPE html>
<html>
<% if @justsignedout != nil %>
  <div style ="border:thin green solid; color: green">
    See ya later!
  </div>
<% end %>
<% if @justsignedin != nil %>
  <div style ="border:thin green solid; color: green">
    <%= "Welcome back, " + User.where({:id => session[:current_user_id]})[0].username + "!" %>
  </div>
<% end %>

<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>

    <td>
      <%= user.username %>
    </td>

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>

</html>